.aside-date {
    font-family: Jura;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 800;
}

.aside-month {
    display: flex;
    justify-content: space-between;
     color: #7c778a;
}


