.container-modal-add-todo {
    display: none;
}

.container-modal-add-todo:after {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: darkgray;
    opacity: .8;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal-add-todo {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-todo {
    display: flex;
    flex-direction: column;
    background: #030020;
    padding: 40px;
}

.textarea__todo__add {
    display: block;
    font-family: Jura;
    padding: 20px;
    font-size: 20px;
    border: none;
    resize: none;
    width: 500px;
    height: 300px;
    background: transparent;
    color: white;
}

.aside-btn-add-todo {
    display: flex;
    justify-content: space-between;
}

.btn__add__todo__modal {
    padding: 20px;
    font-family: Jura;
    font-size: 25px;
    border: none;
    cursor: pointer;
    background: #ff234f;
    color: white;
    transition: all .3s;
    outline: none;
    border-radius: 5px;
    text-align: center;
}

.textarea__todo__add:focus {
    outline: none;
}

.btn__add__todo__modal:hover {
    background: white;
    color: black;
}

.btn_cancel {
    background: #030020;
    color: white;
    border-radius: 5px;
}