.container-modal-add-todo {
    display: none;
}
.container-modal-add-todo:after {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: darkgray;
    opacity: .8;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal-add-todo {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form-todo {
    display: flex;
    flex-direction: column;
}
.textarea__todo__add {
    display: block;
    font-family: "Roboto Light";
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    resize: none;
    width: 500px;
    height: 300px;
}
.btn__add__todo__modal {
    margin-top: 20px;
    padding: 20px;
    font-family: Roboto;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #DE7D3B;
    color: black;
    transition: all .3s;
    outline: none;
}
.textarea__todo__add:focus {
    outline: none;
    border: 2px #DE7D3B solid;
}
.btn__add__todo__modal:hover {
    background: #015042;
    color: white;
}
.close__add__todo {
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    color: #5b5858;
    cursor: pointer;
    right: -60px;
    top: -60px;
    transition: all .3s;
}
.close__add__todo:hover {
    color: #e14040;
}