.aside-content-todo {
}

.aside-todo-list {
    display: flex;
    background: #ff234f;
    padding: 20px;
    justify-content: space-between;
    transition: all .5s;
}

.checkbox-todo {
    display: flex;
    position: relative;
}

.count__todo {
    position: absolute;
    font-size: 12px;
    top: -5px;
    left: -5px;
}

.label__todo {
    display: flex;
    background: #030020;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: all .5s;
}

.label__todo:before {
    content: '';
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #ff234f;
    left: 3px;
    top: 3px;
    transition: all .5s;
}

.label__todo:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: transparent;
    left: 6px;
    top: 6px;
    transition: all .5s;
}

.check__input {
    display: none;
}

.check__input:checked + .label__todo:after {
    background: #030020;
}

.aside-text-content-todo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__text__todo {
    font-family: Jura;
    font-size: 20px;
}

.text__todo {
    font-family: Jura;
    transition: all .3s;
    color: white;
}

.text_decoration {
    text-decoration: line-through;
    color: #525252;
}

.check__wishlist {
    display: none;
}
.aside-todo-wishlist {
}
.label__wishlist {
    position: relative;
    display: block;
    right: 0;
    cursor: pointer;
    font-size: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ff4d70;
    transition: all .3s;
    color: black;
    transform: rotate(45deg);
}
.label__wishlist:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 3px;
    background: #f54364;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.label__wishlist:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 15px;
    background: #f54364;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label__wishlist:hover {
    background: #ba001f;
}

